{% extends "base.html" %}

{% block content %}
  <h1>TODO list
    <a href="{% url 'todo_app:task-create' %}" class="btn btn-primary">Add task</a>
  </h1>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li><strong>{{ task.content }}</strong>
          {% if task.status %}
            Done
            <a href="{% url 'todo_app:toggle-complete' pk=task.pk %}" class="btn btn-secondary">Undo</a>
          {% else %}
            Not done
            <a href="{% url 'todo_app:toggle-complete' pk=task.pk %}" class="btn btn-primary">Complete</a>
          {% endif %}
        </li>
        <li>Created: {{ task.created_at }} {% if task.deadline %} Deadline: {{ task.deadline }} {% endif %}</li>
        <li class="text-hidden">Tags:{% for tag in task.tags.all %} {{ tag }} {% endfor %}</li>
        <li>
          <a href="#" class="btn btn-primary">Update</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks to do</p>
  {% endif %}
{% endblock %}
